<div class="main-item">
  <div class="head-title">
    <div class="left">
      <h1>Accounts manager</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Accounts-manager</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
          <a class="active" href="#">Home</a>
        </li>
      </ul>
    </div>
  </div>

  
</div>