<div class="dashboard-container">
  <div class="dashboard-item dashboard active">
    <div class="dashboard-top">
      <div class="top-folders">
        <div class="top-folder">
          <div class="folder-icon-container">
            <div class="folder-icon" style="--folder-color: #8985f4;--folder-shadow: #514e85;"></div>
          </div>
          <div class="folder-info">
            <h2>Cartella1</h2>
            <div class="folder-subinfo">
              <h5>12 files</h5>
              <h5>10GB</h5>
            </div>
          </div>
        </div>
        <div class="top-folder">
          <div class="folder-icon-container">
            <div class="folder-icon" style="--folder-color: #2fe6c8;--folder-shadow: #3d8593;"></div>
          </div>
          <div class="folder-info">
            <h2>Cartella2</h2>
            <div class="folder-subinfo">
              <h5>4 files</h5>
              <h5>200MB</h5>
            </div>
          </div>
        </div>
        <div class="top-folder">
          <div class="folder-icon-container">
            <div class="folder-icon" style="--folder-color: #fdbb64;--folder-shadow: #86746a;"></div>
          </div>
          <div class="folder-info">
            <h2>Cartella3</h2>
            <div class="folder-subinfo">
              <h5>30 files</h5>
              <h5>4GB</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-bottom">
      <div class="bottom-item">
        <div class="bottom-title">
          <h2>Caricati di recente</h2>
        </div>
        <div class="bottom-files">
          <% for(let i = 0; i < 10; i++) { %>
          <div class="bottom-file">
            <div class="file-icon">
              <ion-icon name="document-outline"></ion-icon>
            </div>
            <div class="file-info">
              <div class="file-name">
                <h3>Nome.txt</h3>
                <h5>12-3-2023</h5>
              </div>
              <div class="file-size">
                <h4>12MB</h4>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <div class="bottom-item">
        <div class="bottom-title">
          <h2>File Manager</h2>
        </div>
        <div class="bottom-folders">

        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-item file-manager">

  </div>
  <div class="dashboard-item shared-file">

  </div>
  <div class="dashboard-item text-editor">

  </div>
  <% if (permission == 1) { %>
  <div class="dashboard-item accounts-section">

  </div>
  <div class="dashboard-item server-status">

  </div>
  <% } %>
</div>