:root {
	--bg: #4e5873;
	--detail: #545f7f;
	--text: #e2e3e4;

	--lightbg: #414e6e;
	--hoverbg: #4f5a78;
}

.side-menu {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	min-width: 400px;
	height: 100%;
	border-right: 2px solid rgba(255, 255, 255, 0.1);
}

/* menu container */

.side-menu .side-menu-container {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 85%;
}

.side-menu .side-menu-container .menu-items {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 55%;
	gap: 65px;
	padding-top: 65px;
}

.side-menu .side-menu-container .menu-items-reserved {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 55%;
	gap: 65px;
}

.side-menu .side-menu-container .menu-items .menu-item-row,
.side-menu .side-menu-container .menu-items-reserved .menu-item-row {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	width: 100%;
	height: 60px;
	gap: 65px;
}

.side-menu .side-menu-container .menu-items .menu-item-row .menu-item,
.side-menu .side-menu-container .menu-items-reserved .menu-item-row .menu-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	width: 60px;
	height: 90px;
	cursor: pointer;
}

.side-menu .side-menu-container .menu-items .menu-item-row .menu-item .item-icon,
.side-menu .side-menu-container .menu-items-reserved .menu-item-row .menu-item .item-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--lightbg);
	transition: 0.2s ease;
	width: 100%;
	height: 60px;
  filter: drop-shadow(5px 5px 10px var(--lightbg));
}

.side-menu .side-menu-container .menu-items .menu-item-row .menu-item .item-icon:hover,
.side-menu .side-menu-container .menu-items-reserved .menu-item-row .menu-item .item-icon:hover,
.side-menu .side-menu-container .menu-items .menu-item-row .menu-item.active .item-icon,
.side-menu .side-menu-container .menu-items-reserved .menu-item-row .menu-item.active .item-icon {
	background: var(--hoverbg);
}

.side-menu .side-menu-container .menu-items .menu-item-row .menu-item .item-icon ion-icon,
.side-menu .side-menu-container .menu-items-reserved .menu-item-row .menu-item .item-icon ion-icon {
	color: var(--text);
	font-size: 26px;
}

.side-menu .side-menu-container .menu-items .menu-item-row .menu-item .item-name,
.side-menu .side-menu-container .menu-items-reserved .menu-item-row .menu-item .item-name {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
}

.side-menu .side-menu-container .menu-items .menu-item-row .menu-item .item-name h5, 
.side-menu .side-menu-container .menu-items-reserved .menu-item-row .menu-item .item-name h5 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text);
	font-weight: 300;
	font-size: 14px;
}



.side-menu .side-menu-container .menu-items-reserved {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 45%;
}








/* menu storage */

.side-menu .side-menu-storage {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 15%;
	padding: 40px 50px;
}

.side-menu .side-menu-storage .storage-container {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.side-menu .side-menu-storage .storage-container .storage-item { 
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
}

.side-menu .side-menu-storage .storage-container .storage-item.storage-used {
  min-height: 45%;
}

.side-menu .side-menu-storage .storage-container .storage-item h2 {
  color: var(--text);
  font-size: 30px;
  font-weight: 300;
}

.side-menu .side-menu-storage .storage-container .storage-item h3{
  color: var(--text);
  font-size: 18px;
  font-weight: 300;
}

.side-menu .side-menu-storage .storage-container .storage-item.storage-bar-container {
  padding: 8px 5px;
}

.side-menu .side-menu-storage .storage-container .storage-item .storage-bar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: var(--lightbg);
  border-radius: 5px;
}

.side-menu .side-menu-storage .storage-container .storage-item .storage-bar .storage-bar-width {
  position: relative;
  width: 60%;
  height: 100%;
  background: #ff6d91;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px #ff6d91);
}
