:root {
  --bg: #4e5873;
  --detail: #545f7f;
  --text: #e2e3e4;
  --lightText: #9da3b1;

  --lightbg: #414e6e;
  --hoverbg: #4f5a78;
}

.dashboard-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dashboard-container .dashboard-item {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 65px;
  background: linear-gradient(to top, #37415c, #3d4a6a);
  transition: 0.2s ease;
  transform: translateX(20px);
  opacity: 0;
}

.dashboard-container .dashboard-item.active {
  transform: none;
  opacity: 1;
  z-index: 2;
}

.dashboard-container .dashboard-item .dashboard-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 45vw;
  height: 50%;
}

.dashboard-container .dashboard-item .dashboard-top .top-folders {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 185px;
  gap: 90px;
}

.dashboard-container .dashboard-item .dashboard-top .top-folders .top-folder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  height: 100%;
  background: var(--lightbg);
  cursor: pointer;
  backdrop-filter: blur(20px);
  transition: 0.2s ease;
  filter: drop-shadow(5px 5px 10px var(--lightbg));
  z-index: 2;
  padding: 10px 25px;
}

.dashboard-container .dashboard-item .dashboard-top .top-folders .top-folder:hover {
  background: var(--hoverbg);
}

.dashboard-container .dashboard-item .dashboard-top .top-folders .top-folder .folder-icon-container,
.dashboard-container .dashboard-item .dashboard-top .top-folders .top-folder .folder-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dashboard-container .dashboard-item .dashboard-top .top-folders .top-folder .folder-icon-container .folder-icon {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50px;
  height: 40px;
  background: var(--folder-color);
  filter: drop-shadow(5px 5px 0px var(--folder-shadow));
}

.dashboard-container .dashboard-item .dashboard-top .top-folders .top-folder .folder-icon-container .folder-icon::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 25px;
  top: -10px;
  background: var(--folder-color);
  clip-path: polygon(0 35%, 60% 35%, 100% 100%, 0% 100%);
  border-top-left-radius: 5px;
}


.dashboard-container .dashboard-item .dashboard-top .top-folders .top-folder .folder-info {
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.dashboard-container .dashboard-item .dashboard-top .top-folders .top-folder .folder-info h2 {
  color: var(--text);
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 1px;
}

.dashboard-container .dashboard-item .dashboard-top .top-folders .top-folder .folder-info .folder-subinfo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dashboard-container .dashboard-item .dashboard-top .top-folders .top-folder .folder-info .folder-subinfo h5 {
  color: var(--text);
  font-size: 14px;
  font-weight: 300;
}















.dashboard-container .dashboard-item .dashboard-bottom {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 45vw;
  height: 50%;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 10%;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-title h2 {
  color: var(--lightText);
  font-weight: 400;
  font-size: 26px;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-files {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height: 480px;
  padding-right: 15%;
  overflow-y: scroll;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-files .bottom-file {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 60px;
  transition: 0.2s ease;
  cursor: pointer;
  padding-right: 20px;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-files .bottom-file:hover {
  background: var(--hoverbg);
  filter: drop-shadow(5px 5px 10px var(--lightbg));
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-files .bottom-file .file-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-files .bottom-file .file-icon ion-icon {
  color: var(--text);
  font-size: 26px;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-files .bottom-file .file-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-files .bottom-file .file-info .file-name h3 {
  color: var(--text);
  font-weight: 300;
  font-size: 20px;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-files .bottom-file .file-info .file-name h5 {
  color: var(--lightText);
  font-weight: 400;
  opacity: .7;
}

.dashboard-container .dashboard-item .dashboard-bottom .bottom-item .bottom-files .bottom-file .file-info .file-size h4 {
  color: var(--lightText);
  font-weight: 400;
  opacity: .7;
}
